//main: ../_modules.sass

.glider-contain
  width: 85vw
  height: fit-content
  .glider
    height: auto
    .project
      background: var(--color-text)
      color: var(--color-bg)
      display: grid
      +centerGrid
      padding: 2rem 0
      margin: 0 0.5rem 1rem
      border-radius: 6%
      &-img
        border-radius: 12%
        padding: 1rem
      &-name
        font-size: 1.5rem
        padding-bottom: 0.5rem
      &-desc
        font-size: 1rem
        text-align: center
        padding: 0 1rem
