//main: ../_modules.sass
.skill
  display: grid
  +centerGrid
  max-width: $max-column-width
  +lowerHorzRule(true)
  &-icon
    font-size: $skill-icon-size
    color: var(--color-accent-one)
  &-name
    color: var(--color-accent-two)
    font-size: $skill-name-size
    padding-bottom: 1rem
  &-desc
    padding: 0 10%
    font-size: $skill-desc-size
    text-align: center
